# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual Environment
.env
.venv
env/
venv/

# Conda
.conda/
conda-meta/

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
